<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register for TinyApp</title>
</head>
<body>
  <form method="POST" action="/register">
    <label>Email</label>
    <input type="email" name="email" placeholder="Enter Email">

    <label>Password</label>
    <input type="password" name="password" placeholder="Create password">

    <Button>Register</Button>
  </form>
</body>
</html>